<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG Animations</title>

    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">

</head>
<body>

    <object type="image/svg+xml" width="100%" height="300" data="../resources/banner.svg"></object>

    <nav class="menue">
        <ul>
            <li><a href="../index.html">Home Page</a></li>
            <li><a href="two.html">Favorite Sources</a></li>
            <li><a href="three.html">SVG Animations</a></li>
        </ul>
    </nav>
    <h1>SVG Animation is easy!</h1>
    <img
        src="../resources/page-three.svg"
        alt="triangle with all three sides equal"
        height="300"
        width="300" />
    <object type="image/svg+xml" data="../resources/page-three2.svg"></object>
</body>
</html>