<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Page</title>
</head>
<body>
    <nav class="menue">
        <ul>
            <li><a href="index.html">Home Page</a></li>
            <li><a href="two.html">Second Page</a></li>
            <li><a href="three.html">Third Page</a></li>
        </ul>
    </nav>
    <h1>Favorite Coding Resources</h1>
    <!--Content in table should be top 3 coding 
    resources I found useful-->
    <table>
        <!--Learn to use table lol-->
    </table>
</body>
</html>
