<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Page</title>
    <style>
    table {
    border-collapse: collapse;
    border: 2px solid rgb(106, 190, 255);
    }

    td, th {
    border: 1px solid rgb(106, 190, 255);
    padding: 10px 20px;
    }

    th {
    background-color: rgba(106, 190, 255, 0.576);
    }

    td {
    text-align: center;
    }
    </style>
</head>
<body>
    <nav class="menue">
        <ul>
            <li><a href="../index.html">Home Page</a></li>
            <li><a href="two.html">Second Page</a></li>
            <li><a href="three.html">Third Page</a></li>
        </ul>
    </nav>
    <h1>Favorite Coding Resources</h1>
    <!--Content in table should be top 3 coding 
    resources I found useful-->
    <table>
        <!--Learn to use table lol-->
        <tr>
            <th>Coding Resource</th>
            <th>Link</th>
        </tr>
        <tr>        
            <td>MDN Web Docs</td>
            <td><a href="https://developer.mozilla.org/en-US/">https://developer.mozilla.org/en-US/</a></td>
        </tr>
        <tr>
            <td>W3 Schools</td>
            <td><a href="https://www.w3schools.com/">https://www.w3schools.com/</a></td>
        </tr>
        <tr>
            <td>freeCodeCamp</td>
            <td><a href="https://www.freecodecamp.org/">https://www.freecodecamp.org/</a></td>
        </tr>    
    </table>
</body>
</html>
